{% extends "Catalog/base_generic.html" %}

{% block content %}
  <h1>Title: {{ author.first_name}}({{author.last_name}})</h1>

  <p><strong>Author First Name:</strong>{{ author.first_name }}</p> <!-- author detail link not yet defined -->
  <p><strong>Author Last Name:</strong> {{ author.last_name }}</p>
  <p><strong>Author date of birth:</strong> {{ author.date_of_birth }}</p>
  <p><strong>Author date of death:</strong> {{ author.date_of_death }}</p>

 <!--<div style="margin-left:20px;margin-top:20px">-->
    <!--<h4>Copies</h4>-->
<!--{{MyBooks}}-->
{%for b in MyBooks%}
<i>{{b}}</i><br>
{%endfor%}
    <!--{% for copy in author.book_set.all %}-->
    <!--<hr>-->
    <!--<p><strong>Summary:</strong> {{ copy.summary }}</p>-->
  <!--<p><strong>ISBN:</strong> {{ copy.isbn }}</p>-->
  <!--<p><strong>Language:</strong> {{ copy.language }}</p>-->
    <!--{% endfor %}-->
  <!--</div>-->
{% endblock %}